
{% extends "../base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}


{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block body %}
<section class="login-section section-space-b pt-4 pt-md-5 mt-md-3">
  <div class="container">
      <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 mb-5 mb-lg-0 d-none d-lg-block">
              <img src="{% static 'images/login.png' %}" alt="" class="img-fluid">
          </div><!-- end col-lg-6 -->                              <div class="col-lg-6 col-md-9">
                        <div class="section-head-sm">
                            <h2 class="mb-2">Welcome Back!</h2>
                            <p>Login to countinue</p>
                        </div>

                        <form  data-jsv-form="true" class="login" method="POST" action="{% url 'account_login' %}">
                          {% csrf_token %}
                          {{ form|crispy }}
                          {% if redirect_field_value %}
                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                          {% endif %}

                          <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                            <a href="{% url 'account_reset_password' %}" class="btn-link form-forget-password">Forgot Password</a>
                          </div>
                          <button class="btn btn-dark w-100" type="submit">Login Now</button>
                        </form>

                        <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                          
                      </div>
                      <span class="d-block my-4">— or login with —</span>
                    <ul class="btns-group d-flex">
                        <li class="flex-grow-1"><a href="#" class="btn d-block bg-red-100 text-red g-btn"><em class="ni ni-google"></em> Google</a></li>
                        <li class="flex-grow-1"><a href="#" class="btn d-block bg-blue-100 text-blue f-btn"><em class="ni ni-facebook-f"></em> Facebook</a></li>
                        <li class="flex-grow-1"><a href="#" class="btn d-block bg-cyan-100 text-cyan t-btn"><em class="ni ni-twitter"></em> Twitter</a></li>
                    </ul>

                    {% if ACCOUNT_ALLOW_REGISTRATION %}
                    <p>
                      {% blocktranslate trimmed %}
                      If you have not created an account yet, then please
                      <p class="mt-3 form-text">Don't have an account <a href="{{ signup_url }}" class="btn-link">Sign Up</a></p>
                    
                      {% endblocktranslate %}
                  </p>
                    {% endif %}

                </form>
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end login-section -->
{% endblock %}