{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Verify Your E-mail Address" %}{% endblock %}


{% block body %}
<section class="user-section section-space-b pt-4 pt-md-5 mt-md-3">
    <div class="container">
        <div class="row align-items-center justify-content-center">
  
      <div class="col-sm-12">
    <h1>{% translate "Verify Your E-mail Address" %}</h1>

    <p>{% blocktranslate %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktranslate %}</p>
</div>
        </div></div></section>
{% endblock %}


