{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
<section class="user-email section-space-b pt-4 pt-md-5 mt-md-3">
  <div class="container">
      <div class="row align-items-center justify-content-center">

    <div class="col-sm-12">
  <h1>{{ user.username }}</h1>
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
</div>
</div></div></section>
 
{% endblock %}
