
{% extends "../base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}


{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block header%}
<div class="hero-wrap hero-wrap-2 section-space">
    <div class="container">
        <div class="row align-items-center flex-md-row-reverse justify-content-between">
            <div class="col-lg-5 col-sm-9 col-md-6">
                <div class="hero-image">
                    <img src="{% static 'images/home-image.png' %}" alt="" class="w-100">
                </div>
            </div><!-- end col-lg-5 -->
            <div class="col-lg-6 col-md-6">
                <div class="hero-content pb-0 pt-md-0 pe-lg-4">
                    <h1 class="hero-title mb-4">Create, sell or collect digital items</h1>
                    <p class="hero-text mb-4 pb-1">Complete account of the system, and expound the actual teachings of the great explorer of human happiness.</p>
                    <!-- button group -->
                    <ul class="btns-group hero-btns">
                        <li><a href="explore.html" class="btn btn-lg btn-dark">Explore</a></li>
                        <li><a href="create.html" class="btn btn-lg btn-outline-dark">Create</a></li>
                    </ul>
                </div><!-- hero-content -->
            </div><!-- col-lg-6 -->
        </div><!-- end row -->
    </div><!-- .container-->
</div><!-- end hero-wrap -->
{% endblock%}

           
        
        {% block body %}
        
        <section class="section-space how-it-work-section">
            <div class="container">
                <div class="section-head text-center">
                    <h2 class="mb-3">Create and sell your NFTs</h2>
                    <p>This is just a simple text made for this unique and awesome template, you can replace it with any text. It is a long established fact.</p>
                </div><!-- end section-head -->
                <div class="row g-gs justify-content-center">
                    <div class="col-10 col-sm-6 col-md-6 col-lg-3">
                        <div class="card-htw text-center">
                            <span class="icon ni ni-wallet icon-lg icon-circle shadow-sm icon-wbg mx-auto mb-4 text-primary"></span>
                            <h4 class="mb-3">Set up your wallet</h4>
                            <p class="card-text-s1">Once you’ve set up your wallet of choice, connect it to EnftyMart by clicking the.</p>
                        </div>
                    </div><!-- end col -->
                    <div class="col-10 col-sm-6 col-md-6 col-lg-3">
                        <div class="card-htw text-center">
                            <span class="icon ni ni-setting icon-lg icon-circle shadow-sm icon-wbg mx-auto mb-4 text-danger"></span>
                            <h4 class="mb-3">Create collection</h4>
                            <p class="card-text-s1">Click <a href="profile.html" class="btn-link">My Collections</a> and set up your collection. Add social links, a description.</p>
                        </div>
                    </div><!-- end col -->
                    <div class="col-10 col-sm-6 col-md-6 col-lg-3">
                        <div class="card-htw text-center">
                            <span class="icon ni ni-camera icon-lg icon-circle shadow-sm icon-wbg mx-auto mb-4 text-info"></span>
                            <h4 class="mb-3">Add your NFTs</h4>
                            <p class="card-text-s1">Upload your work (image, video, audio, or 3D art), add a title and description.</p>
                        </div>
                    </div><!-- end col -->
                    <div class="col-10 col-sm-6 col-md-6 col-lg-3">
                        <div class="card-htw text-center">
                            <span class="icon ni ni-money icon-lg icon-circle shadow-sm icon-wbg mx-auto mb-4 text-success"></span>
                            <h4 class="mb-3">List them for sale</h4>
                            <p class="card-text-s1">Choose between auctions, fixed-price listings, and declining-price listings.</p>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end how-it-work-section -->
        <section class="category-section section-space bg-gray">
            <div class="container">
                <div class="section-head text-center">
                    <h2 class="mb-3">Browse by category</h2>
                    <p>This is just a simple text made for this unique and awesome template, you can replace it with any text. It is a long established fact.</p>
                </div><!-- end section-head -->
                <div class="row g-gs">
                    <div class="col-lg-3 col-6 col-md-4">
                        <a href="#" class="card card-cat h-100 text-center text-purple ">
                            <div class="card-body card-body-s1">
                                <span class="icon ni ni-camera mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                                <h5 class="card-cat-title">Artwork</h5>
                            </div>
                        </a>
                    </div><!-- end col -->
                    <div class="col-lg-3 col-6 col-md-4">
                        <a href="#" class="card card-cat h-100 text-center text-blue">
                            <div class="card-body card-body-s1">
                                <span class="icon ni ni-music mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                                <h5 class="card-cat-title">Music</h5>
                            </div>
                        </a>
                    </div><!-- end col -->
                    <div class="col-lg-3 col-6 col-md-4">
                        <a href="#" class="card card-cat h-100 text-center text-pink">
                            <div class="card-body card-body-s1">
                                <span class="icon ni ni-search mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                                <h5 class="card-cat-title">Domain Names</h5>
                            </div>
                        </a>
                    </div><!-- end col -->
                    <div class="col-lg-3 col-6 col-md-4">
                        <a href="#" class="card card-cat h-100 text-center text-orange">
                            <div class="card-body card-body-s1">
                                <span class="icon ni ni-globe mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                                <h5 class="card-cat-title">Virtual Worlds</h5>
                            </div>
                        </a>
                    </div><!-- end col -->
                    <div class="col-lg-3 col-6 col-md-4">
                        <a href="#" class="card card-cat h-100 text-center text-yellow">
                            <div class="card-body card-body-s1">
                                <span class="icon ni ni-user mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                                <h5 class="card-cat-title">Trending Cards</h5>
                            </div>
                        </a>
                    </div><!-- end col -->
                    <div class="col-lg-3 col-6 col-md-4">
                        <a href="#" class="card card-cat h-100 text-center text-green">
                            <div class="card-body card-body-s1">
                                <span class="icon ni ni-opt-alt-fill mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                                <h5 class="card-cat-title">Collectibles</h5>
                            </div>
                        </a>
                    </div><!-- end col -->
                    <div class="col-lg-3 col-6 col-md-4">
                        <a href="#" class="card card-cat h-100 text-center text-teal">
                            <div class="card-body card-body-s1">
                                <span class="icon ni ni-hot-fill mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                                <h5 class="card-cat-title">Sports</h5>
                            </div>
                        </a>
                    </div><!-- end col -->
                    <div class="col-lg-3 col-6 col-md-4">
                        <a href="#" class="card card-cat h-100 text-center text-cyan">
                            <div class="card-body card-body-s1">
                                <span class="icon ni ni-setting mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                                <h5 class="card-cat-title">Utility</h5>
                            </div>
                        </a>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end category-section -->
        <section class="subscibe-section section-space-sm">
            <div class="container">
                <div class="join-form-wrap">
                    <div class="row g-gs align-items-center">
                        <div class="col-lg-3">
                            <h3 class="form-title">Join Our Newsletter</h3>
                        </div><!-- end col -->
                        <div class="col-lg-3 col-md-4">
                            <input class="form-control form-control-s1" type="text" name="name" placeholder="Enter name">
                        </div><!-- end col -->
                        <div class="col-lg-3 col-md-4">
                            <input class="form-control form-control-s1" type="text" name="email" placeholder="Enter email">
                        </div><!-- end col -->
                        <div class="col-lg-3 col-md-4">
                            <a href="#" class="btn btn-dark d-md-block">Subscribe Now</a>
                        </div><!-- end col -->
                    </div><!-- row -->
                </div><!-- end join-form-wrap -->
            </div><!-- end container -->
        </section><!-- end subscibe-section -->

        {% endblock %}

