{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block body %}

<div class="hero-wrap sub-header">
    <div class="container">
        <div class="hero-content text-center py-0">
            <h1 class="hero-title">Explore Auctions</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-s1 justify-content-center mt-3 mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Explore</li>
                </ol>
            </nav>
        </div>
    </div><!-- .container-->
</div>
<section class="explore-section pt-lg-4">
    <div class="container">
        <div class="gap-2x"></div><!-- end gap -->
        <div class="filter-container mb-5 row g-gs">
            {% for auction in auctions %}
            <div class="col-xl-3 col-lg-4 col-sm-6 filter-item artworks">
                <div class="card card-full">
                    <a href="{% url 'show_auction' auction_id=auction.id %}" class="card-image">
                        <img src="{{ auction.image.url }}" class="card-img-top" alt="art image">
                    </a>
                    <div class="card-body p-4">
                        <h5 class="card-title text-truncate mb-0"><a href="{% url 'show_auction' auction_id=auction.id %}">{{ auction.name}}</a></h5>
                        <div class="card-author mb-1 d-flex align-items-center">
                            <span class="me-1 card-author-by">By</span>
                            <div class="custom-tooltip-wrap">
                                <a href="author.html" class="custom-tooltip author-link">{{ auction.created_by}}</a>
                            </div><!-- end custom-tooltip-wrap -->
                        </div><!-- end card-author -->
                        <div class="card-price-wrap d-flex align-items-center justify-content-sm-between mb-3">
                            <div class="me-5 me-sm-2">
                                <span class="card-price-title">Minimal Price</span>
                                <span class="card-price-number">{{auction.minimal_price}} SAR</span>
                            </div>
                            <div class="text-sm-end">
                                <span class="card-price-title">Current bid</span>
                                <span class="card-price-number">1.32 ETH</span>
                            </div>
                        </div><!-- end card-price-wrap -->
                        <a href="{% url 'show_auction' auction_id=auction.id %}" class="btn btn-sm btn-dark">Place a Bid</a>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
            {% endfor %}
        </div><!-- end filter-container -->
    </div><!-- .container -->
</section><!-- end explore-section -->

{% endblock %}