{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block body %}

<section class="item-detail-section mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pe-xl-5">
                <div class="item-detail-content">
                    <div class="item-detail-img-container mb-4">
                        <img src="{{ auction.image.url }}" alt="" class="w-100 rounded-3">
                    </div><!-- end item-detail-img-container -->
                    <div class="item-detail-tab">
                        <ul class="nav nav-tabs nav-tabs-s1" id="myTab" role="tablist">
                            <li class="nav-item active" role="presentation">
                                <button class="nav-link" id="bids-tab" data-bs-toggle="tab" data-bs-target="#bids" type="button" role="tab" aria-controls="bids" aria-selected="false"> Bids </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab" aria-controls="history" aria-selected="false"> History </button>
                            </li>
                        </ul>
                        <div class="tab-content mt-3" id="myTabContent">
                            
                            <div class="tab-pane fade fade show active" id="bids" role="tabpanel" aria-labelledby="bids-tab">
                                <div class="item-detail-tab-wrap">
                                    <div class="card-media card-media-s2 mb-3">
                                        <a href="author.html" class="card-media-img flex-shrink-0 d-block">
                                            <img src="images/thumb/avatar.jpg" alt="avatar">
                                        </a>
                                        <div class="card-media-body">
                                            <p class="fw-semibold text-black">0.072 ETH by <a href="author.html" class="text-primary">Palliman</a> for 1 edition</p>
                                            <p class="small">21/09/2021</p>
                                        </div>
                                    </div><!-- end card -->
                                    <div class="card-media card-media-s2 mb-3">
                                        <a href="author.html" class="card-media-img flex-shrink-0 d-block">
                                            <img src="images/thumb/avatar-2.jpg" alt="avatar">
                                        </a>
                                        <div class="card-media-body">
                                            <p class="fw-semibold text-black">0.072 ETH by <a href="author.html" class="text-primary">KingKhalid</a> for 1 edition</p>
                                            <p class="small">14/08/2021</p>
                                        </div>
                                    </div><!-- end card -->
                                    <div class="card-media card-media-s2 mb-3">
                                        <a href="author.html" class="card-media-img flex-shrink-0 d-block">
                                            <img src="images/thumb/avatar-3.jpg" alt="avatar">
                                        </a>
                                       
                                    </div><!-- end card -->
                                </div><!-- end item-detail-tab-wrap -->
                            </div><!-- end tab-pane -->
                            <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                                <div class="item-detail-tab-wrap">
                                    <div class="card-media card-media-s2 mb-3">
                                        <a href="author.html" class="card-media-img flex-shrink-0 d-block">
                                            <img src="images/thumb/avatar-4.jpg" alt="avatar">
                                        </a>
                                        <div class="card-media-body">
                                            <p class="fw-semibold text-black">Listed 1 edition for 0.35 ETH</p>
                                            <p class="small">by <a href="author.html" class="text-primary">Medicom</a> 21 hours ago</p>
                                        </div>
                                    </div><!-- end card -->
                                    <div class="card-media card-media-s2 mb-3">
                                        <a href="author.html" class="card-media-img flex-shrink-0 d-block">
                                            <img src="images/thumb/avatar-5.jpg" alt="avatar">
                                        </a>
                                        <div class="card-media-body">
                                            <p class="fw-semibold text-black">Purchased 1 edition for 0.1 ETH</p>
                                            <p class="small">by <a href="author.html" class="text-primary">Medicom</a> 21 hours ago</p>
                                        </div>
                                    </div><!-- end card -->
                                    <div class="card-media card-media-s2 mb-3">
                                        <a href="author.html" class="card-media-img flex-shrink-0 d-block">
                                            <img src="images/thumb/avatar-6.jpg" alt="avatar">
                                        </a>
                                        <div class="card-media-body">
                                            <p class="fw-semibold text-black">Purchased 1 edition for 0.1 ETH</p>
                                            <p class="small">by <a href="author.html" class="text-primary">French Montana</a> 23/09/2021</p>
                                        </div>
                                    </div><!-- end card -->
                                </div><!-- end item-detail-tab-wrap -->
                            </div><!-- end tab-pane -->
                        </div>
                    </div>
                </div><!-- end item-detail-content -->
            </div><!-- end col -->
            <div class="col-lg-6">
                <div class="item-detail-content mt-4 mt-lg-0">
                    <h1 class="item-detail-title mb-2">{{ auction.name}}</h1>
                    <div class="item-detail-meta d-flex flex-wrap align-items-center mb-3">
                        <span class="item-detail-text-meta">{{ auction.status.name}}</span>
                        <span class="dot-separeted"></span>
                        <span class="item-detail-text-meta">500 editions</span>
                        <span class="dot-separeted"></span>
                        <span class="item-detail-text-meta">Highest bid <span class="text-primary fw-semibold">0.072 ETH</span>
                        </span>
                    </div>
                    <p class="item-detail-text mb-4">{{ auction.description }}</p>
                    <div class="item-credits">
                        <div class="row g-4">
                            <div class="col-xl-12">
                                <div class="card-media card-media-s1">
                                    <a href="" class="card-media-img flex-shrink-0 d-block">
                                        <img src="images/thumb/avatar.jpg">
                                    </a>
                                    <div class="card-media-body">
                                        <a href="author.html" class="fw-semibold">{{ auction.created_by }}</a>
                                    </div>
                                </div><!-- end card -->
                            </div><!-- end col-->
                           
                            <div class="col-xl-12">
                                <div class="card-media card-media-s1">
                                    <a href="author.html" class="card-media-img flex-shrink-0 d-block">
                                        <img src="images/thumb/avatar-3.jpg" alt="avatar">
                                    </a>
                                    <div class="card-media-body">
                                        <p class="fw-semibold text-black">Highest bid by Palliman</p>
                                        <span class="fw-medium small">0.072 ETH</span>
                                    </div>
                                </div><!-- end card -->
                            </div><!-- end col-->
                        </div><!-- end row -->
                    </div><!-- end row -->
                    <div class="item-detail-btns mt-4">
                        <ul class="btns-group d-flex">
                            {% if request.user.is_authenticated %}
                            <li class="flex-grow-1">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#placeBidModal" class="btn btn-dark d-block">Place a Bid</a>
                            </li>
                            {% endif %}
                            <li class="flex-grow-1">
                                <div class="dropdown">
                                    <a href="#" class="btn bg-dark-dim d-block" data-bs-toggle="dropdown">Share</a>
                                    <div class="dropdown-menu card-generic p-2 w-100 mt-1">
                                        <a href="#" class="dropdown-item card-generic-item"><em class="ni ni-facebook-f me-2"></em> Facebook</a>
                                        <a href="#" class="dropdown-item card-generic-item"><em class="ni ni-twitter me-2"></em> Twitter</a>
                                        <a href="#" class="dropdown-item card-generic-item"><em class="ni ni-instagram me-2"></em> Instagram</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- end item-detail-btns -->
                </div><!-- end item-detail-content -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- .container -->
</section>

<div class="modal fade" id="placeBidModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Place a Bid</h4>
                <button type="button" class="btn-close icon-btn" data-bs-dismiss="modal" aria-label="Close">
                    <em class="ni ni-cross"></em>
                </button>
            </div><!-- end modal-header -->
            <div class="modal-body">
                <form method="post" data-jsv-form="true"  id="form" action="{% url %}" >

               
                <p class="mb-3">You are about to place a bid for <strong>{{ auction.name}}</p> note that this may be legally binding for you if you unsure about your ablitly to pay if 
                <div class="mb-3">
                    <label class="form-label">Your bid (SAR)</label>
                    <input type="number" step="0.01" min="{{ auction.minimal_price }}" class="form-control form-control-s1" placeholder="Enter bid">
                </div>
                
                <ul class="total-bid-list mb-4">
                    <li><span>Bid amount:</span> <span id="amount"></span> SAR</li>
                    <li><span>Service fee 3.5%</span> <span id="service_fee"></span> SAR</li>
                    <li><span>You will pay</span> <span id="total"></span> SAR</li>
                </ul>
                <button type="submit" form="form" class="btn btn-dark d-block">Place a Bid</a>
            </form>
            </div><!-- end modal-body -->
        </div><!-- end modal-content -->
    </div><!-- end modal-dialog -->
</div><!-- end modal-->
{% endblock %}

{% block javascript %}
<script>
    
</script>
{% endblock%}